.cal-input {
  background-color: #858694;
  height: 3rem;
  width: 31.4rem;
  border: none;
  margin-bottom: 1px;
  text-align: end;
  color: white;
  padding-right: 0.5rem;
}

button {
  height: 5rem;
  width: 8rem;
  border: 0.1px solid #dadadb;
}

button:hover {
  background-color: #696970;
  color: white;
}

input::placeholder {
  color: white;
  text-align: end;
}

.right {
  background-color: #f5913e;
}

.zero {
  width: 16rem;
}

.Calculator-layout {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.Calculator-layout h2 {
  font-size: 3rem;
}

.cal-section {
  border: 1px solid black;
  padding: 5rem;
}
